* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}


html {
  scroll-behavior:smooth;
}


body {

  min-width:320px;

  min-height:100vh;

  background:#ffffff;

  font-family:"Inter", sans-serif;

  -webkit-font-smoothing:antialiased;

  text-rendering:optimizeLegibility;

}


#root {

  width:100%;

  overflow-x:hidden;

}